@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.padding-container {
    padding-left: 200px;
    padding-right: 200px;

}

hr {
    border: 0;
    height: 1px;
    margin: auto;
    width: 120px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(155 106 108), rgba(0, 0, 0, 0));
}

/*   Nav Styles  */
nav {
    background-color: #9B6A6C;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav ul {
    display: inline-block;
    float: right;
    margin-left: auto;
    padding-top: 40px;
}

#nav-list li {
    float: right;
    list-style-type: none;
    margin-right: 15px;
    font-size: 18px;
}

#nav-list li a {
    color: white;
    
}

#nav-list li a:hover { 
    color:  #4d6472;   
}

#logo {
    height: 100px;
}


/*   Landing Styles  */

h1 {
    color: white;
}

button {
    display: inline-block;
    border: solid;
    padding: 1rem 2rem;
    text-decoration: none;
    background: #006bed00;
    border-color: #fff;
    border-radius: 15px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}


#landing-img {
    background-image: url(../images/landing.jpg);
    height: 100vh;
    background-size: 100%;
    position: relative;
    top: 0;
    z-index: -1;
    padding-top: 5px;
    padding-bottom: 82px;
}

#landing-text {
    float: right;
    right: 105px;
    bottom: 583px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    z-index: -1;
    text-shadow: 0px 3px 0px rgb(0 0 0 / 60%);
}

.anchor-button {
    display: inline-block;
    border: solid;
    padding: 1rem 2rem;
    text-decoration: none;
    background: #006bed00;
    border-color: #fff;
    border-radius: 15px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    top: 514px;
    right: 375px;
    position: absolute;
}

/*  About Us Section Styles  */

#about-us {
    margin-bottom: 200px;
}

#about-heading {
    text-align: center;
    font-size: 40px;
    color: #000;
    padding-bottom: 10px;
    padding-top: 200px;
}

#about-text {
    text-align: center;
    font-size: 25px;
    padding: 10px 100px 55px 100px;
    color: #000;
}

#about-us-picture-container {
    text-align: center;
    padding-bottom:100px;
}

.about-us-images {
    height: 180px;
    border-radius: 50%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 50%);
    margin: 10px;
}



/*  Facts Styles  */
.bg-color {
    background-color: #4d6472;
}

#facts-heading {
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding-top: 200px;
    padding-bottom: 10px;

}

.paragraph-text {
    font-size: 25px;
    color: #fff;
    padding: 10px 0 15px 0;
}

.rounded-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.facts-container {
    padding: 0 400px 0 400px;
}

#table-list{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding-bottom: 200px;
}

th {
    font-weight: 500;
}

tr, td {
    text-align: center;
    width: 30%;
    color: #fff;
    font-size: 25px;  
    padding: 10px;
}

#the-garden {
    background: linear-gradient(to bottom, rgb(77 100 114) 0%, rgb(77 100 114 / 22%) 100%), url(../images/the-garden.jpg) no-repeat center 49%;
}


/*  Recipes Styles  */

#recipe-heading  {
    text-align: center;
    font-size: 40px;
    color: black;
    padding-bottom: 10px;
    padding-top: 200px;
}

.recipe-sub-heading{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.recipe-right{
    float: right;
}

.recipe-main-container {
    height:400px;
    margin-bottom: 50px;
}

#recipe-last-container {
    height:500px;
    margin-top: 130px;
}

.recipe-container-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

.recipe-container-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.recipe-text-left {
    width: 100%;
    float: left;
    margin-bottom: 50px;
}

.recipe-text-right {
    width: 30%;
    float: right;
    margin-bottom: 50px;
}

.recipe-img {
    height: 100%;
    border-radius: 50%;
    width: 100%;
    float: left;
    padding-left: 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 50%);
}

#recipes {
    padding-bottom: 300px;
}

#seed-bread-image {
    background:url('../images/seed-bread.jpg') center center/cover no-repeat;
}

#pizza-image {
    background:url('../images/pizza-2.jpg') center center/cover no-repeat;
}

#brownie-image{
    background:url('../images/brownie.jpg') center center/cover no-repeat;
}

.circle-container {
    width: 250px;
    height: 250px;
    padding: 15px;
    margin: 0 auto;
}


/*  Masterclass Styles  */

.text-white {
    color: #fff;
}

#masterclass {
    padding-bottom:200px;
}

#master-heading {
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 200px;
}

#form-styling {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#form-label-spacing {
    padding-top: 10px;
}

input {
    margin: 5px;
    align-self: center;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    background-color: tran;
    background-color: transparent;
    margin-bottom: 5vh;
    padding-top: 28px;
    width: 325px;
    float: none;
    justify-content: center;
    align-items: center;
    caret-color: #fff;
    color: #fff;
    font-size: inherit;
}

label {
    margin: 5px;
}

#button-style {
    margin: 10px 0 50px 0;
    width: 200px;
    align-self: center;
    height: auto;
    text-align: center;
}

input::selection {
    background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/*  Footer Styles  */

footer {
    background-color: #9B6A6C;
}


footer ul {
    justify-content: center;
    background-color: inherit;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 2rem;
    padding: 2.25rem;
    color: #fff;
}


/*  Media Queries  */

@media screen and (max-width: 320px) {
    #landing-text {
        font-size: 2rem;
    }
}