@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.padding-container {
    padding: 0 200px 0 200px !important;
}

/*   Nav Styles  */
nav {
    background-color: transparent;

}

nav ul {
    display: inline-block;
    float: right;
    padding: 65px 0;


}

#nav-list li {
    float: right;
    list-style-type: none;
    margin-right: 15px;
    font-size: 18px;
}

#nav-list li a {
    color: white;
    
}

#nav-list li a:hover { 
    color:  #b6774c;   
}

#logo {
    height: 145px;
}


/*   Landing Styles  */

h1 {
    color: white;
}

button {
    display: inline-block;
    border: solid;
    padding: 1rem 2rem;
    text-decoration: none;
    background: #006bed00;
    border-color: #fff;
    border-radius: 15px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}


#landing-img {
    background-image: url(../images/landing.jpg);
    height: 100vh;
    background-size: 100%;
    position: relative;
    top: -150px;
    z-index: -1;
    padding-top: 5px;
    padding-bottom: 82px;
}

#landing-text {
    top: 0;
    bottom: 60px;
    left: 1080px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding-right: 125px;
    z-index: -1;
    text-shadow: 0px 3px 0px rgb(0 0 0 / 60%);
}

.anchor-button {
    display: inline-block;
    border: solid;
    padding: 1rem 2rem;
    text-decoration: none;
    background: #006bed00;
    border-color: #fff;
    border-radius: 15px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    top: 514px;
    right: 375px;
    position: absolute;
}

/*  About Us Section Styles  */


#about-heading {
    text-align: center;
    font-size: 40px;
    color: #000;
    padding-bottom: 35px;
}

#about-text {
    text-align: center;
    font-size: 25px;
    padding: 0 100px 300px 100px;
    color: #000;
}


/*  Facts Styles  */
.bg-color {
    background-color: #4d6472;
}


#facts-heading {
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding-bottom: 150px;
    padding-top: 165px;
}

.paragraph-text {
    font-size: 25px;
    color: #fff;
}

#paragraph-1 {
    display: flex;
    padding-left: 200px;
    text-align: left;
}

#paragraph-2 {
    display: flex;
    padding-right: 200px;
    text-align: left;
}

.rounded-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.facts-container {
    padding: 0 400px 0 400px;

}

#facts-img1 {
    position: relative;
    bottom: 138px;
    right: 470px;
}

#facts-img2 {
    position: relative;
    bottom: 140px;
    left: 470px;
}

#table-list{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding-bottom: 200px;
}

th {
    font-weight: 500;
}

tr, td {
    text-align: center;
    width: 30%;
    color: #fff;
    font-size: 25px;  
    padding: 10px;
}

#the-garden {
    background: linear-gradient(to bottom, rgb(77 100 114) 0%, rgb(77 100 114 / 22%) 100%), url(../images/the-garden.jpg) no-repeat center 49%;
}





/*  Recipes Styles  */

#recipe-heading  {
    text-align: center;
    font-size: 40px;
    color: black;
    padding-bottom: 150px;
    padding-top: 165px;
}

.recipe-sub-heading{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.recipe-right{
    float: right;
}

.recipe-main-container {
    height:500px;
    margin-bottom: 50px;
}

.recipe-container-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

.recipe-container-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.recipe-text-left {
    width: 100%;
    float: left;
    margin-bottom: 50px;
}

.recipe-text-right {
    width: 30%;
    float: right;
    margin-bottom: 50px;
}

.recipe-img {
    height: 100%;
    border-radius: 50%;
    width: 100%;
    float: left;
    padding-left: 0;
}

#recipes {
    padding-bottom: 300px!important;
}

#seed-bread-image {
    background:url('../images/bread.jpg') center center/cover no-repeat;
}

#pizza-image {
    background:url('../images/pizza.jpg') center center/cover no-repeat;
}


.circle-container {
    width: 250px;
    height: 250px;
    padding: 15px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}


/*  Masterclass Styles  */

.text-white {
    color: #fff;
}

#master-heading {
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding-bottom: 150px;
    padding-top: 165px;
}

#form-styling {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

input {
    margin: 5px;
    width: 300px;
    align-self: center;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 5px;
}

label {
    margin: 5px;
}

#button-style {
    margin: 50px 0 50px 0;
    width: 200px;
    align-self: center;
    height: auto;
    text-align: center;
}

/*  Footer Styles  */

footer {
    height: 150px;
    background-color: #304053;
}


footer ul {
    justify-content: center;
    background-color: inherit;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #fff;
}